section.filters {
	background-color: white;

	/* filter section size */
	height: 70px;
	width: 100%;

	/* filter section border */
	border: 1px solid #DDDDDD;
	border-radius: 4px;

	/* filter position */
	position: relative;

	/* To center vertically */
	display: flex;
	align-items: center;
}

section.filters button {
	background-color: #FF5A5F;

	/* font properties */
	font-size: 18px;
	color: #FFFFFF;

	/* button size */
	height: 48px;
	width: 20%;

	/* button border */
	border: none;
	border-radius: 4px;

	/* button position */
	position: absolute;
	right: 30px;
}

section.filters button:hover {
	/* Change button opacity to 90% */
	opacity: 0.9;
}