section.filters {
	background-color: white;

	/* filter section size */
	height: 70px;
	width: 100%;

	/* filter section border */
	border: 1px solid #DDDDDD;
	border-radius: 4px;

	/* filter position */
	position: relative;

	/* To center vertically */
	display: flex;
	align-items: center;
}

/* States and Amenities style */
section.filters .locations,
section.filters .amenities {
	display: flex;

	height: 100%;
	width: 25%;

	/* To place items top to bottom */
	flex-direction: column;
	justify-content: center;

	/* set an indent */
	text-indent: 25%
}

section.filters .locations {
	border-right: 1px solid #DDDDDD;
}

section.filters div h3 {
	font-weight: 600;
}

section.filters div h4 {
	font-weight: 400;
	font-size: 14px;
}

section.filters div h3,
section.filters div h4 {
	margin: 0;
	padding: 0;
}


/* filter button style */
section.filters button {
	background-color: #FF5A5F;

	/* font properties */
	font-size: 18px;
	color: #FFFFFF;

	/* button size */
	height: 48px;
	width: 20%;

	/* button border */
	border: none;
	border-radius: 4px;

	/* button position */
	position: absolute;
	right: 30px;
}

section.filters button:hover {
	/* Change button opacity to 90% */
	opacity: 0.9;
}