.filters {
	background-color: white;
	
	/* filter section size */
	height: 70px;
	width: 100%;
	
	/* filter section border */
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	
	/* position */
	position: relative;
	
	display: flex;
	align-items: center;
}

.filters button {
	background-color: #FF5A5F;
	
	/* font properties */
	font-size: 18px;
	color: #FFFFFF;
	
	/* size */
	height: 48px; 
	width: 20%;
	
	/* border */
	border: none;
	border-radius: 4px;
	
	/* position */
	position: absolute;
	right: 30px;

}

.filters button:hover {
	/* Change opacity to 90% */
	opacity: 0.9;
}

/* States and Amenities styling */
.filters .locations,
.filters .amenities {
	height: 100%;
	width: 25%;
	
	text-indent: 25%;
	
	display: flex;
	/* placed items top to bottom */
	flex-direction: column; 
	justify-content: center;
	
	position: relative;

}

.filters .locations {
	border-right: 1px solid #DDDDDD;
}	

.filters div h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.filters div h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.filters h2 {
	font-size: 16px;
	margin: 12px auto 0 0;
}

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* PopOver */

.filters ul.popover {
	/* Not displayed */
	display: none;
	position: absolute;
	width: 100%;
	background-color: #FAFAFA;
	/* border */
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	top: 100%;
	margin: 0;
	padding: 15px 0 15px 0 ;
}

/* locations & amenity popover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}

.filters .amenities .popover,
.filters .locations .popover,
.filters .locations .popover li {
	list-style-type: none;
}